/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(247, 247, 247);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------ 
header styles 
-------------- */
.header-modifier{
    background-color: rgb(89, 0, 255);
    height: 677px;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* header text and button styles */
.text-and-button h1{
    font-weight: 700;
    font-size: 64px;
    color: white;
    width: 485px;
    margin: 196px 23px 38px 212px;
    line-height: 80px;
}
.link-button{
    display: flex;
    justify-content: center;
    background-color: #E02C6D;
    text-decoration: none;
    margin-left: 156px;
    color: white;
    width: 168px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 0px;
}
.link-button p{
    padding-right: 8px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    font-size: 20px;
}
 /* hovering effect on button */
.link-button:hover {
    transform: scale(1.2);
    transition: transform 1s ease;
}

 /* header image styles */
.header-image img{
    width:556.01px;
    height: 438px;
    margin-top: 154px;
    margin-bottom: 85px;
    margin-left: 23px;
}
 /* hovering effect on image */
.header-image img:hover{
    transform: scale(1.15);
    transition: transform 1s ease-in-out;
}

 /* ----------------------
 players display styles
 ----------------------- */

.players{
    margin-top: 70px;
    margin-bottom: 165px;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-row-gap: 25px;
    grid-column-gap: 30px;
}
.player-frame{
    width: 300px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    background-color: white;
    box-shadow: 0 0 10px rgb(160, 158, 158);
}
.player img{
    width: 100%;
    margin-bottom: 16px;
}
.player h3{
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 40px;
}
.player p{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}
/* ------------------
news section styles 
-------------------- */
.news-section{
    display: flex;
    align-items: center;
}
.news-section h2 span{
    color:rgb(89, 0, 255);
}
.news-section img{
    width: 80%;
    margin-left: 100px;
}
#news-part{
    width: 100%;
    margin-right: 200px;
}
#news-link{
    margin-top: 70px;
    margin-left: 20px;
}
/* --------------------- 
users and about us section styles
----------------------- */
.user-and-aboutus{
    display: flex;
    margin-top: 100px;
}
.users-section{
    width: 70%;
    background-color: rgb(89, 0, 255);
    height: 300px;
    text-align: center;
    padding-top: 20px;
    margin-right: 20px;
}
.users-section h3{
    color: white;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form input{
    width: 300px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
}
#signup-button{
    padding: 5px 0;
    border: 0;
    background-color: gray;
    color: aliceblue;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
}
#signup-button:hover{
    transform: scale(1.05);
    transition: transform .5s;
}
.about-us{
    width: 30%;
    background-color: gray;
    padding-left: 20px;
    padding-top: 50px;
    color: honeydew;
}

 /* -------------
   footer styles
 ---------------- */
.footer-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
}
.logo{
    width: 484px;
    height: 110px;
    margin-bottom: 20px;
}
.logo img{
    width: 100%;
}
.icons{
    margin-bottom: 20px;
}
.icons .fab{
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin-right: 10px;
}
.copyright-info p{
     font-size: 18px;
     line-height: 24px;
     margin:0;
}

/* ----------------------
      web for mobile
----------------------- */
@media screen and (max-width:688px){
    /* header styles */
    .header-modifier{
        height: 695px;
    }
    .header-container{
        display: flex;
        flex-direction: column;
    }
    .text-and-button h1{
        line-height: 50px;
        font-size: 36px;
        width: 278px;
        margin: 112px 16px 30px;
    }
    .link-button{
        display: flex;
        justify-content: center;
        background-color: #E02C6D;
        text-decoration: none;
        margin-left: 19px;
        color: white;
        width: 168px;
        font-weight: 500;
        line-height: 24px;
        padding: 10px 0px;
    }
    .header-image img{
        width:329px;
        height: 259px;
        margin-top: 50px;
        margin-left: 15px;
    }
    /* --------------------
    players display styles 
    --------------------- */
    .players{
        margin-top: 47px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(1, 330px);
        grid-row-gap: 24px;
    }
    .player-frame{
        width: 300px;
        height: 474px;
        padding: 15px 15px 0 15px;
        box-shadow: none;
    }
    /* news section */
    .news-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news-section img{
        width: 50%;
        margin-left: 25%;
        margin-right: 25px;
    }
    #news-part{
        width: 50%;
        margin-right: 20px;
    }
    #news-link{
        margin-top: 20px;
        margin-left: 20px;
    }
    /* user and about us part */
    .user-and-aboutus{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        align-items: center;
    }
    .users-section{
        width: 80%;
        background-color: rgb(89, 0, 255);
        height: 300px;
        text-align: center;
        padding-top: 20px;
        margin-right: 10%;
        margin-left: 10%;
    }
    .login-form input{
        width: 250px;
        margin-bottom: 10px;
        font-size: 16px;
        border-radius: 5px;
        padding: 5px;
    }
    #signup-button{
        padding: 5px 0;
        border: 0;
        background-color: gray;
        color: aliceblue;
        width: 260px;
        border-radius: 5px;
        font-size: 16px;
    }
    .about-us{
        width: 75%;
        background-color: gray;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: honeydew;
        margin-top: 10px;
    }
    /* footer part */
    .footer-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 187px;
    }
    .logo{
        width: 270px;
        height: 63px;
        margin-bottom: 20px;
    }
}